<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Fundamentals</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div>Learn Vue</div>
      <input v-model="name" />
      <br /><br />
      <input v-model="age" />
      <p>{{name}} is {{age}} years old</p>
    </div>
  </body>

  <script>
    const { createApp, ref } = Vue;

    let name = ref("Ben");
    let age = ref(20);

    createApp({
      setup() {
        return { name, age };
      },
    }).mount("#app");
  </script>
</html>
